#Standard
.git
.env
.aws
.aws-sam
aws-layer-content

#MacOS
## General
.DS_Store
.AppleDouble
.LSOverride

#Python 
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

#Folders and files
src 
.gitignore
GPL
LICENSE
README.md
